@import "tailwindcss";

:root {
  --background: #36494E;
  --foreground: #FFFCF9;
  --accent-orange: #FF8811;
  --accent-porcelain: #FFFCF9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-orange: var(--accent-orange);
  --color-accent-porcelain: var(--accent-porcelain);
  --font-sans: var(--font-inter);
  --font-display: var(--font-readex-pro);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
